{{#each this}}
  <li>
    <div class='photo-card'>
      <img
        src='{{data.hits.webformatURL}}'
        alt='{{data.hits.tags}}'
        loading='lazy'
      />
      <div class='info'>
        <p class='info-item'>
          <b>Likes: '{{data.hits.likes}}'</b>
        </p>
        <p class='info-item'>
          <b>Views: '{{data.hits.views}}'</b>
        </p>
        <p class='info-item'>
          <b>Comments: '{{data.hits.comments}}'</b>
        </p>
        <p class='info-item'>
          <b>Downloads: '{{data.hits.downloads}}'</b>
        </p>
      </div>
    </div>
  </li>
{{/each}}